---
title: Jigna Patel - iOS Developer from Berlin, Germany | Portfolio
description: Jigna is a freelance iOS developer based in Berlin, Germany. She builds interactive, user friendly iOS apps.
layout: homepage
---

<div class="hero">
    <div class="vlign-wrapper" >
        <div class="vlign-cell">
                    <div class="hero-content container">
                        <h1>
                        <span><span>Hi, I'm a Jigna,  iOS developer </span></span><br>
                        <span><span>based in Berlin, Germany. I enjoy building  </span></span><br>
                       <span><span> user friendly mobile apps.</span></span><br>

                       <span><span><p> Check out some of my recent work below. 👇</p> </span></span>
                   </h1>
                    </div>
        </div>
    </div>

</div>


<div class="projects-list page-content">
  <div class="container">

   <div class="project-list-wrapper clearfix grid" data-grid>
        {% assign sorted_pages = site.projects | sort:"order" %}
        {% for project in sorted_pages %}
        {% assign loopindex = forloop.index | modulo: 2 %}
        <div class="grid-item" data-packed>
            <a href="{{project.url}}">
                <div class="project-image loading thumb-{{project.slug}} bg-{{project.slug}}">

                     {% if project.slug == 'getir-campaign-tab' %}
                        <video class="b-lazy" autoplay loop muted>
                          <source data-src="{{ site.baseurl }}/assets/images/PromotionsTab.mp4" type="video/mp4" />
                          Your browser does not support the video tag.
                        </video>
            
                        {% endif %} {% if project.slug != 'getir-campaign-tab' %}
                                            <img class="b-lazy"  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ site.baseurl }}/assets/images/{{project.thumb}}" alt="{{project.title}}">
                        {% endif %}
                </div>
                <div class="project-info">
                    <h4>{{project.projectName}}</h4>
                    <p>
                      {{ project.intro-summary }}
   
                    </p>
                </div>
            </a>
        </div>
       {% endfor %}
    </div>
    </div>
</div>
