<div class="preloader"></div>
{% if page.headerStyle == "dark" %}
<header class="light-header">
{% else %}
<header>
{% endif %}
  <div class="container clearfix">
    <nav>
      <ul class="clearfix">
        <li {% if page.url == '/' %} class="active"{% endif %}><a href='/'>Projects</a></li>
        <li {% if page.url == '/about.html' %} class="active"{% endif %}><a href="{{ site.baseurl }}/about">About me</a></li>
      </ul>
    </nav>

    <div class="top-right">
        <a href="https://github.com/PatelJigna" class="soc-link" target="_blank">
            <img src="{{ site.baseurl }}/assets/images/github.svg" width="30" alt="">
        </a>
        <a href="https://www.linkedin.com/in/jigna-patel-49126854/" class="soc-link" target="_blank">
            <img src="{{ site.baseurl }}/assets/images/linkedin.svg" width="28" alt="">
        </a>
        <a href="mailto:jigna.punjabi@gmail.com" class="soc-link">
            <img src="{{ site.baseurl }}/assets/images/mail.svg" width="28" alt="">
        </a>
    </div>


  </div>
</header>
