// Homapage
.box {
    position: relative;
}

.about-content {
  padding-top: 180px;
}

.hero {
    .hero-content {

        h1 {
            font-size: 58px;
            line-height: 68px;
            &>span {
                display: inline-block;
                overflow: hidden;
                span {
                    display: inline-block;
                }
            }
        }
        strong {
            position: relative;
            display: inline-block;
            &:after {
                position: absolute;
                display: block;
                content: '';
                left: 0;
                width: 100%;
                bottom: 6px;
                height: 7px;
                opacity: 0;
            }
        }
        .line1:after {
            background: #96e7de;
        }
        .line2:after {
            background: #fcc430;
        }
        .line3:after {
            background: #fe5865;
        }
        .line4:after {
            background: #766d84;
        }
    }
}

.project-hero {
    .hero-content {

        h1 {
            max-width: 600px;
            font-size: 36px;
            letter-spacing: 1px;
            line-height: 44px;
            span {
                display: inline-block;
            }
        }
    }
}

.grid-item,
.col-2{
    width: 50%;
    padding-bottom: 200px;
    &:nth-child(odd) {
        padding-right: 20px;
    }
    &:nth-child(even) {
        padding-left: 20px;
    }
}

.project-image {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    &.loading {
        background-image: url('../assets/images/loading.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .b-lazy {
        will-change: transform;
        @include transform(translate(-50%, -50%));
        -webkit-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
        max-width: 100%;
        opacity: 0;
    }
    .b-lazy.b-loaded {
        @include transform(translate(-50%, -50%));
        opacity: 1;
    }
    &:hover .b-lazy.b-loaded {
        @include transform(translate(-50%, -50%) scale(1.1));
    }
}

.project-info {
    width: 100%;
    h4 {
        font-size: 22px;
        letter-spacing: 1px;
        font-weight: 800;
    }
    p {
        color: $color_paragraph;
        font-size: 18px;
        line-height: 28px;
        margin-top: 0;
        letter-spacing: 1px;
    }
}

// Project Stylings
.bg-backsplash-app {
    background: #A8C3B5;
}

.bg-italian-restaurant-app {
    background: #ffce82;
}

.thumb-italian-restaurant-app,
.thumb-backsplash-app {
    height: 700px;
    img {
        position: absolute;
        top: 50%;
        width: 390px;
        left: 50%;
        display: inline-block;
    }
}

.bg-ripple-bugs {
    background: #74d4cf;
}

.thumb-ripple-bugs {
    height: 540px;
    img {
        position: absolute;
        top: 50%;
        width: 420px;
        left: 50%;
        display: inline-block;
    }
}

.bg-tiffinity-web {
    background: #2e2e2e;
}

.thumb-tiffinity-web {
    height: 560px;
    img {
        position: absolute;
        top: 50%;
        width: 80%;
        left: 50%;
        display: inline-block;
    }
}

.bg-ker-webshop {
    background: #f09530;
}

.thumb-ker-webshop {
    height: 630px;
    img {
        position: absolute;
        top: 50%;
        width: 470px;
        left: 50%;
        display: inline-block;
    }
}

.bg-intellichill {
    background: #9462f0;
}

.thumb-intellichill {
    height: 580px;
    img {
        position: absolute;
        top: 50%;
        width: 420px;
        left: 50%;
        display: inline-block;
    }
}

.about-bg {
    background: #121312;
}

// Project Details Page
.project-content {
    padding: 0px 0px 100px 0px;
    img.full-img {
        width: 100%;
        margin: 90px 0px;
    }
    p.mid {
        max-width: 900px;
    }
}

.project-cover {
    img,
    video {
        max-height: 140%;
        position: absolute;
        left: 50%;
        top: 50%;
    }
    &.loading {
        background-image: url('../assets/images/loading.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .b-lazy {
        will-change: transform;
        @include transform(translate(-50%,
        -40%));
        -webkit-transition: all 900ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 900ms cubic-bezier(0.19, 1, 0.22, 1);
        max-width: 100%;
        opacity: 0;
    }
    .b-lazy.b-loaded {
        @include transform(translate(20%,
        -30%));
        opacity: 1;
    }
}

.project-stats {
    margin: 70px 0px 80px 0px;
    position: relative;
    .col {
        width: 45%;
        float: left;
        strong {
            display: block;
            padding-bottom: 8px;
            font-size: 20px;
        }
        p {
            font-size: 20px;
            margin: 0;
            line-height: normal;
            &.small {
                font-size: 16px;
                line-height: 28px;
            }
        }
    }
    .btn {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.page-content-text {
    h1 {
        font-size: 32px;
        letter-spacing: 1px;
        line-height: 50px;
        span {
            display: inline-block;
        }
    }

    p {
        margin-bottom: 70px;
    }
    h2, h3, h4 {
        margin-bottom: 20px;
    }
}


.img-full {
    width: 100%;
    height: auto;
}
