h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    font-family: inherit;
    color: $color_headings;
    letter-spacing: 1px;
    margin:0;
    padding:0;

    strong, span {
        font-weight: 400;
    }
}

h2 {
    font-size: 36px;
    font-weight: 800;
}

h3 {
    font-size: 32px;
    font-weight: 800;
}

h4 {
    font-size: 30px;
    font-weight: 800;
}

h5 {
    font-size: 26px;
    font-weight: 800;
}

h6 {
    font-size: 22px;
}

p, span, li {
    font-family: inherit;
    font-weight: 400;
    margin:0;

    strong {
        font-weight: 800;
        letter-spacing: 1.5px;
    }
}


p, li {
    font-size: 24px;
    line-height: 34px;
    color: $color_paragraph;
    letter-spacing: 0.4px;
}

p.intro {
  font-size: 36px;
  line-height: 46px;
}

p {
    background: white;
}

a {
    color: $color_paragraph;
    text-decoration: none;

    &.link,
    span.link {
        background-position: 0% 100%, 110% 90%, 0% 98%;
    background-repeat: no-repeat, no-repeat, repeat-x;
    -webkit-background-size: 2px 1px, 2px 1px, 1px 1px;
    -moz-background-size: 2px 1px, 2px 1px, 1px 1px;
    background-size: 2px 1px, 2px 1px, 1px 1px;
    text-shadow: 2px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -2px #ffffff, 2px 0 #ffffff, -2px 0 #ffffff, 2px 0 #ffffff, -2px 0 #ffffff, 2px 0 #ffffff, -2px 0 #ffffff, 2px 0 #ffffff, -2px 0 #ffffff;
    background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient($color_links, $color_links);

        &:hover {
            color:$color_links;
        }
    }
}



.hero-content-light {
    h1, h2, h3, h4, h5, p {
        color:white;
        background: white;
    }
}
